body {
    background-color: beige;
}

h1 {
    color: cornflowerblue;
    transition: color 0.5s ease-in-out;
}

h2 {
    color: aqua;
    transition: color 0.5s ease-in-out;
}

.active {
    color: tomato;
}

.active22 {
    color: aquamarine;
}